@model TAW_HLL_Campaign.Models.Team

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Total Supplies
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stockpile.TotalSupplies)
        </dd>
        <dt class="col-sm-2">
            Total Victory Points
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stockpile.TotalVictoryPoints)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TeamID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
