@model TAW_HLL_Campaign.Models.Sector

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Sector</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuppliesIncome" class="control-label"></label>
                <input asp-for="SuppliesIncome" class="form-control" />
                <span asp-validation-for="SuppliesIncome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VictoryPoints" class="control-label"></label>
                <input asp-for="VictoryPoints" class="form-control" />
                <span asp-validation-for="VictoryPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildSlots" class="control-label"></label>
                <input asp-for="BuildSlots" class="form-control" />
                <span asp-validation-for="BuildSlots" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamID" class="control-label"></label>
                <select asp-for="TeamID" class ="form-control" asp-items="ViewBag.TeamID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
