@model IEnumerable<TAW_HLL_Campaign.Models.Game>

@{
    ViewData["Title"] = "Games";
}

<h1>Games</h1>

<p>Welcome to the games page! Here, you can create a new game and manage the game turns</p>

<p>To create a new game, click the "Create Game" button below:</p>

<p>
    <a asp-action="Create" class="btn btn-primary">Create Game</a>
</p>